<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Cookedit.</title>
</head>
<body>
<h1>Cookedit.</h1>
<p>Find recipes </p>
<form action="/users" method="PUT">
    <label>First Name :</label>
    <input type="text" name="first" value="John"><br>
    <label>Last Name :</label>
    <input type="text" name="last" value="Doe"><br><br>
    <input type="submit" value="Submit">
</form>
</body>

</html>


